[Unit]
Description=Switchboard redirect server
After=network.service

[Service]
ExecStart=/usr/bin/nixprime-switchboard -f /etc/nixprime-switchboard.conf
User=nobody

[Install]
WantedBy=default.target
